.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(40, 40, 40);
    padding: 10px 0;
}

.nav-link {
    margin: 10px;
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    max-width: 30px;
}

.navbar-container .active {
    color: red;
}